<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="my_connection" connectionString="Data Source=SQL5057.site4now.net;Initial Catalog=db_a84575_kaifaqeelahmed;User Id=db_a84575_kaifaqeelahmed_admin;Password=kaif1234;MultipleActiveResultSets=true;"/>

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
 
</configuration>
